<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
<ul>
<% for (var url in urls) { %>
<li>
  <a href="/u/<%= url %>">http://TinyApp.com/u/<%= url %></a>
  -
  <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a>
  <form action="/urls/<%=url%>/delete" method="POST">
  <button type="submit">Delete</button>
  </form>
  <a href="/urls/<%=url%>">Edit</a>
</li>
<% } %>
</ul>
<p><a href="/urls/new">Shorten Url</a></p>
</body>
</html>